body{
    background-color:aqua;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 50px;
}
h1{
    color:whitesmoke
}
p{
    font-size: 20px;
    color:whitesmoke;
    font-family: Times New Roman
}
p2{
    text-indent: 70px;
    font-size: 40px;
    font-family: Verdana
}
